<header class="py-3 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
      <nav class="d-flex">
        <h6 class="mb-0">
          <a href="" class="text-reset">Home</a>         
        </h6>
      </nav>
    </a>
    <!--<app-search></app-search>-->
  </div>
</header>



  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" >
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/img/hamburguesa.jpg" class="d-block w-100" alt="..." width="400" height="500">
        <div class="carousel-caption d-none d-md-block">
            <div class="badge bg-warning text-dark" style="width: 20rem;">
          <h5>Restaurante perla</h5>
          <p>Ofrecemos la mas exquisita comida para degustar....</p>
        </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/img/burguer.jpg" class="d-block w-100" alt="..." width="300" height="500">
        <div class="carousel-caption d-none d-md-block">
            <div class="badge bg-warning text-dark" style="width: 20rem;">
            <h5>Restaurante perla</h5>
            <p>Ofrecemos la mas exquisita comida para degustar....</p>
        </div>
    </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/img/pizzas.jpg" class="d-block w-100" alt="..." width="150" height="500">
        
        <div class="carousel-caption d-none d-md-block">
            <div class="badge bg-warning text-dark" style="width: 20rem;">
            <h5>Restaurante perla</h5>
            <p>Ofrecemos la mas exquisita comida para degustar....</p>
        </div>
       </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<br>
<div  >
 
  
      
<div class="row row-cols-1 row-cols-md-3 g-4" (click)="eventoClick()">
  <div class="col-md-3" data-aos="fade-down-right">
    <div class="h-100 p-5 text-bg-dark rounded-3"> 
  
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <img src="../assets/img/crepa.jpg" class="card-img-top" alt="..." width="180" height="180">
      <div class="card-body">
        <h5 class="card-title">Crepa de fresas con chocolate</h5>
        <p class="card-text">Crepa dulce con fresas y chocolate.</p>
        <h5 class="card-title">$55</h5>
      </div>
    </div>
    </div>
  </div>
  <div class="col-md-3" data-aos="fade-down-right">
    <div class="h-100 p-5 text-bg-dark rounded-3">  
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <img src="../assets/img/crepa2.jpg" class="card-img-top" alt="..." width="180" height="180">
      <div class="card-body">
        <h5 class="card-title">Crepa de fresas con moras</h5>
        <p class="card-text">Crepa dulce de fresas ,moras y philadelphia.</p>
        <h5 class="card-title">$55</h5>
      </div>
    </div>
  </div>
  </div>
  <div class="col-md-3" data-aos="fade-down-right">
    <div class="h-100 p-5 text-bg-dark rounded-3">  
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <img src="../assets/img/waffle4.jpg" class="card-img-top" alt="... "width="180" height="180">
      <div class="card-body">
        <h5 class="card-title">Waffles</h5>
        <p class="card-text">waffles con fresas y moras u/o con salsa de frutos rojos .</p>
        <h5 class="card-title">$55</h5>
      </div>
    </div>
    </div>
  </div>
  <div class="col-md-3" data-aos="fade-down-right">
    <div class="h-100 p-5 text-bg-dark rounded-3"> 
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <img src="../assets/img/waffles.jpg" class="card-img-top" alt="...  "width="180" height="180">
      <div class="card-body">
        <h5 class="card-title">Waffles</h5>
        <p class="card-text">waffles con fresas y chocolate u/o con salsa de frutos rojos .</p>
        <h5 class="card-title">$55</h5>
      </div>
    </div>
    </div>
  </div>
  
</div>

