<header class="py-3 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
      <nav class="d-flex">
        <h6 class="mb-0">
          <a href="" class="text-reset">Home</a>         
        </h6>
      </nav>
    </a>
    <!--<app-search></app-search>-->
  </div>
</header>

<div>
  <ul class="dropdown-menu">
    <li><h6 class="dropdown-header">Dropdown header</h6></li>
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
  </ul>
</div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
         
          <!--<li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>-->
        </ol>
    </nav>
  </div>
  
    
<br>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    
    <div class="col">
      <div class="card text-white bg-dark mb-3" >
        <img src="../assets/img/bur.jpg" class="card-img-top" alt="..." >
        <div class="card-body">
            <h5 class="card-title">Hamburgesa</h5>
            <p class="card-text">Hamburguesa  con pan integral,carne,tomate,lechuga y queso amarillo.Acompañado de papas fritas</p>
            <h5 class="card-title">$80</h5>
            <div class="d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-warning btn-lg">Comprar</a>
            </div>
        </div>
      </div>
    </div>
    <div >
      <div class="card text-white bg-dark mb-3">
        <img src="../assets/img/buguecasera.jpg" class="card-img-top" alt="..." >
        <div class="card-body">
            <h5 class="card-title">Hamburgesa</h5>
            <p (mouseout)="eventoMouseOut()" class="card-text">Hamburguesa con pepino,carne,tomate,lechuga y queso amarillo.Acompañado de papas fritas</p>
            <h5 class="card-title">$80</h5>
            <div class="d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-warning btn-lg">Comprar</a>
            </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-white bg-dark mb-3" >
        <img src="../assets/img/hamburguesaqueso.jpg" class="card-img-top" alt="..." >
        <div class="card-body">
            <h5 class="card-title">Hamburgesa</h5>
            <p class="card-text">Hamburguesa sencilla con pan integral,tocino carne,tomate,lechuga y queso amarillo.</p>
            <h5 class="card-title">$80</h5>
            <div class="d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-warning btn-lg">Comprar</a>
            </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-white bg-dark mb-3">
        <img src="../assets/img/Hamburguesas1.jpg" class="card-img-top" alt="..." height="230">
        <div class="card-body">
            <h5 class="card-title">Hamburgesa</h5>
            <p class="card-text">Hamburguesa con pan integral carne,cebolla morada ,tomate,lechuga y doble queso amarillo.
                Dos hamburguesas por tan solo  .</p>
            <h5 class="card-title">$140</h5>
            <div class="d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-warning btn-lg">Comprar</a>
            </div>
        </div>
      </div>
    </div>

      <div class="col">
        <div class="card text-white bg-dark mb-3">
          <img src="../assets/img/hamburguesa3.jpg" class="card-img-top" alt="..." height="230">
          <div class="card-body">
            <h5 class="card-title">Hamburgesa</h5>
            <p class="card-text">Hamburguesa con pan integral carne,cebolla morada ,tomate,lechuga y queso amarillo con papas fritas.
            Dos hamburguesas por tan solo  
            </p>
            <h5 class="card-title">$140</h5>
            <div class="d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-warning btn-lg">Comprar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark mb-3">
          <img src="../assets/img/hamburguesa4.jpg" class="card-img-top" alt="..." height="230">
          <div class="card-body">
            <h5 class="card-title">Hamburguesa</h5>
            <p class="card-text">Hamburguesa con pan integral carne,tomate,lechuga,tocino,cebolla morada y queso amarillo.
            Hamburguesa con papas fritas
            </p>
            <h5 class="card-title">$80</h5>
            <div class="d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-warning btn-lg">Comprar</a>
          </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark mb-3">
          <img src="../assets/img/pizza2.jpg" class="card-img-top" alt="..." height="230">
          <div class="card-body">
            <h5 class="card-title">Pizza Mister ppep</h5>
            <p class="card-text">pizza grande : peperoni,champiñon y queso.</p>
            <h5 class="card-title">$280</h5>
            <div class="d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-warning btn-lg">Comprar</a>
          </div>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark mb-3">
          <img src="../assets/img/pizza4.jpg" class="card-img-top" alt="..." height="230">
          <div class="card-body">
            <h5 class="card-title">Pizza de peperoni</h5>
            <p class="card-text">pizza grande : peperoni y queso.</p>
            <h5 class="card-title">$280</h5>
            <div class="d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-warning btn-lg">Comprar</a>
          </div>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark mb-3">
          <img src="../assets/img/pizza5.jpg" class="card-img-top" alt="..." height="230">
          <div class="card-body">
            <h5 class="card-title">Pizza al pastor</h5>
            <p class="card-text">pizza grande : carne al pastor,queso y piña.</p>
            <h5 class="card-title">$280</h5>
            <div class="d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-warning btn-lg">Comprar</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card text-white bg-dark mb-3">
          <img src="../assets/img/crepa.jpg" class="card-img-top" alt="..." height="240">
          <div class="card-body">
            <h5 class="card-title">Crepa</h5>
            <p class="card-text"> Crepa dulce con fresas y chocolate con philadelphia.</p>
            <h5 class="card-title">$55</h5>
            <div class="d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-warning btn-lg">Comprar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark mb-3">
          <img  src="../assets/img/crepa2.jpg" class="card-img-top" alt="..." height="240">
          <div class="card-body">
            <h5 class="card-title">Crepa</h5>
            <p   class="card-text"> Crepa dulce con frutos rojos y moras con philadelphia.</p>
            <h5 class="card-title">$55</h5>
            <div class="d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-warning btn-lg">Comprar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark mb-3">
          <img src="../assets/img/crepas.jpg" class="card-img-top" alt="..." height="240">
          <div class="card-body">
            <h5 class="card-title">Crepa</h5>
            <p class="card-text"> Crepa dulce con fresas,helado y chocolate.</p>
            <h5 class="card-title">$55</h5>
            <div class="d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-warning btn-lg">Comprar</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card text-white bg-dark mb-3">
          <img src="../assets/img/waffle.jpg" class="card-img-top" alt="..." height="240">
          <div class="card-body">
            <h5 class="card-title">Waffle</h5>
            <p class="card-text">waffles con frutos rojos y moras.Acompañados de crema batida</p>
            <h5 class="card-title">$55</h5>
            <div class="d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-warning btn-lg">Comprar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark mb-3">
          <img src="../assets/img/waffles.jpg" class="card-img-top" alt="..."  height="240">
          <div class="card-body">
            <h5 class="card-title">Waffle</h5>
            <p class="card-text">waffles con fresa y chocolate.Acompañados de crema batida</p>
            <h5 class="card-title">$55</h5>
            <div class="d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-warning btn-lg">Comprar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark mb-3">
          <img src="../assets/img/waffle1.jpg" class="card-img-top" alt="..." height="240">
          <div class="card-body">
            <h5 class="card-title">Waffle</h5>
            <p class="card-text">waffles con fresa,helado y chocolate.Acompañados de crema batida</p>
            <h5 class="card-title">$55</h5>
            <div class="d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-warning btn-lg">Comprar</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card text-white bg-dark mb-3">
          <img src="../assets/img/aguamango.jpg" class="card-img-top" alt="..." height="240">
          <div class="card-body">
            <h5 class="card-title">Agua de mango</h5>
            <p class="card-text">Agua de litro.</p>
            <h5 class="card-title">$25</h5>
            <p class="card-text">Agua medio litro.</p>
            <h5 class="card-title">$15</h5>
            <div class="d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-warning btn-lg">Comprar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark mb-3">
          <img src="../assets/img/aguajamaica.jpg" class="card-img-top" alt="..."  height="240">
          <div class="card-body">
            <h5 class="card-title">Agua de jamaica</h5>
            <p class="card-text">Agua de litro.</p>
            <h5 class="card-title">$25</h5>
            <p class="card-text">Agua medio litro.</p>
            <h5 class="card-title">$15</h5>
            <div class="d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-warning btn-lg">Comprar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark mb-3">
          <img src="../assets/img/aguafresa.jpg" class="card-img-top" alt="..." height="240">
          <div class="card-body">
            <h5 class="card-title">Agua de fresa</h5>
            <p class="card-text">Agua de litro.</p>
            <h5 class="card-title">$25</h5>
            <p class="card-text">Agua medio litro.</p>
            <h5 class="card-title">$15</h5>
            <div class="d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-warning btn-lg">Comprar</a>
            </div>
        </div>
    </div>
</div>